<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.TiendaRBR" connectionString="Data Source=DARIO\SQLEXPRESS;Initial Catalog=TiendaPrueba;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.TiendaConnectionString" connectionString="Data Source=DARIO\SQLEXPRESS;Initial Catalog=Tienda;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>